<!DOCTYPE html>
<!-- This is necessary to use Thymeleaf in the templates -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Demo</title>

    <!-- References the CSS files -->
    <!-- The @ references to the root of the app -->
</head>
<body>
    Hello World of Spring
    <br><br>

    <!--
      In this way we get the value of the input in the form
      we recognize it based on the name of that input.

      And because send the submit form in a GET request,
      so we take the value of that field in these view,
      Thanks to the action attribute of </form>
    -->
    Student name: <span th:text="${param.student_name}" />

</body>
</html>