<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Student Registration Form</title>
</head>
<body>
  <h3>Student Confirmation</h3>

  <!--
  So, in this way the layout access to the model attribute
  and make use of its methods.
  -->
  The student is confirmed: <span th:text="${student.getFirstName()} + ' ' + ${student.getLastName()}" />
  <br><br>

  Country: <span th:text="${student.getCountry()}"/>
  <br><br>

  Favorite Programming Language: <span th:text="${student.getFavoriteLanguage()}"/>
  <br><br>

  <!--
    We can use the methods defined by the object model students
    or access the attributes of the model directly like in this case.
  -->
  Favorite Operating Systems: <span th:text="${student.favoriteSystems}"/>

  <!--
    Loop the elements inside the model attribute
  -->
  <ul>
     <li th:each="system : ${student.favoriteSystems}" th:text="${system}"></li>
  </ul>
</body>
</html>